/*
Body - margin fitted for tablets 
*/


body {
	margin:$tabletDefaultSpacing;
}


/*
Gamearea
*/

#gameArea {
	@include gameAreaBase;
	padding:$tabletDefaultSpacing;
	//min-height:400px;
	//min-width:550px;
}

/*
Card container 
*/

.cardWrap {
	@include cardWrapBase;
	height: $cardSizeTablet;
	margin: $tabletDefaultSpacing;
	width: $cardSizeTablet;
}


/*
Card size Face Up
*/

.animalSize {
	height: $cardSizeTablet;
	width: $cardSizeTablet;
}

/*
Card size Face Down
*/

.faceDown {
	height: $cardSizeTablet;
	width: $cardSizeTablet;
}

/*
Card columns
*/

.cards-two {
  width: 420px;
}
.cards-three {
  width: 650px;
}

@keyframes pointer{
  0%   {left:-200px; bottom:-300px;}
  5%   {left:-200px; bottom:-300px;}
  10%  {left:-200px; bottom:-300px;}
  15%  {left:-200px; bottom:-200px;}
  20%  {left:350px; bottom:100px; max-height: 60%; max-width: 50%;}
  25%  {left:350px; bottom:100px; max-height: 50%; max-width: 40%;} 
  30%  {left:350px; bottom:100px; max-height: 60%; max-width: 50%;}
  35%  {left:500px; bottom:100px; max-height: 60%; max-width: 60%;}
  40%  {left:500px; bottom:100px; max-height: 50%; max-width: 50%;} 
  45%  {left:500px; bottom:100px; max-height: 60%; max-width: 60%;}
  100% {left:800px; bottom:-400px; max-height: 60%; max-width: 30%; display:none;}
}

@-webkit-keyframes pointer /* Safari and Chrome */{
  0%   {left:-200px; bottom:-300px;}
  5%   {left:-200px; bottom:-300px;}
  10%  {left:-200px; bottom:-300px;}
  15%  {left:-200px; bottom:-200px;}
  20%  {left:250px; bottom:100px; max-height: 60%; max-width: 50%;}
  25%  {left:250px; bottom:100px; max-height: 50%; max-width: 40%;} 
  30%  {left:250px; bottom:100px; max-height: 60%; max-width: 50%;}
  35%  {left:450px; bottom:100px; max-height: 60%; max-width: 60%;}
  40%  {left:450px; bottom:100px; max-height: 50%; max-width: 50%;} 
  45%  {left:450px; bottom:100px; max-height: 60%; max-width: 60%;}
  100% {left:800px; bottom:-400px; max-height: 60%; max-width: 30%; display:none;}
}

.clickFinger {
  max-width:173px;
  max-height:455px;
  bottom: -455px;
  left: -173px;
  position:absolute;
  animation:pointer 10s;
  -webkit-animation:pointer 6s; /* Safari and Chrome */
  z-index: 2;
}

@keyframes pointerTwo{
  0%   {left:-200px; bottom:-300px;}
  5%   {left:-200px; bottom:-300px;}
  10%  {left:-200px; bottom:-300px;}
  15%  {left:-200px; bottom:-200px;}
  20%  {left:30px; bottom:100px; max-height: 60%; max-width: 60%;}
  25%  {left:30px; bottom:100px; max-height: 50%; max-width: 50%;} 
  30%  {left:30px; bottom:100px; max-height: 60%; max-width: 60%;}
  35%  {left:170px; bottom:100px; max-height: 60%; max-width: 60%;}
  40%  {left:170px; bottom:100px; max-height: 50%; max-width: 50%;} 
  50%  {left:170px; bottom:100px; max-height: 60%; max-width: 60%;}
  55%  {left:30px; bottom:-30px; max-height: 60%; max-width: 50%;}
  60%  {left:30px; bottom:-30px; max-height: 50%; max-width: 50%;}
  65%  {left:30px; bottom:-30px; max-height: 60%; max-width: 60%;}
  70%  {left:170px; bottom:-30px; max-height: 60%; max-width: 60%;}
  75%  {left:170px; bottom:-30px; max-height: 50%; max-width: 50%;}
  80%  {left:170px; bottom:-30px; max-height: 60%; max-width: 60%;}
  100% {left:400px; bottom:-200px; max-height: 60%; max-width: 60%; display:none;}
}

@-webkit-keyframes pointerTwo /* Safari and Chrome */{
  0%   {left:-200px; bottom:-300px;}
  5%   {left:-200px; bottom:-300px;}
  10%  {left:-200px; bottom:-300px;}
  15%  {left:-200px; bottom:-200px;}
  20%  {left:150px; bottom:90px; max-height: 60%; max-width: 60%;}
  25%  {left:150px; bottom:90px; max-height: 50%; max-width: 50%;} 
  30%  {left:150px; bottom:90px; max-height: 60%; max-width: 60%;}
  35%  {left:340px; bottom:90px; max-height: 60%; max-width: 60%;}
  40%  {left:340px; bottom:90px; max-height: 50%; max-width: 50%;} 
  50%  {left:340px; bottom:90px; max-height: 60%; max-width: 60%;}
  60%  {left:180px; bottom: -130px; max-height: 60%; max-width: 60%;}
  65%  {left:180px; bottom: -130px; max-height: 50%; max-width: 50%;}
  70%  {left:360px; bottom: -130px; max-height: 60%; max-width: 60%;}
  75%  {left:360px; bottom: -130px; max-height: 50%; max-width: 50%;}
  80%  {left:360px; bottom: -130px; max-height: 60%; max-width: 60%;}
  100% {left:400px; bottom:-400px; max-height: 60%; max-width: 60%; display:none;}
}

.clickFinger2 {
  max-width:173px;
  max-height:455px;
  bottom: -455px;
  left: -173px;
  position:absolute;
  animation:pointerTwo 10s;
  -webkit-animation:pointerTwo 10s; /* Safari and Chrome */
  z-index: 2;
}

