/* 
Import:
- basefile with variables
- reset & normalize
- gameplay - settings for game
- topMenu
*/

@import "base";
@import "reset";
@import "normalize";
@import "gameplay";
@import "topMenu";


/*
Body - background, text, margins
*/

body {
	@include bodyBgSettings;
	overflow:hidden;
	scroll:none;	
}


/*
Box sizing 
*/

div, nav, header {
-webkit-box-sizing: border-box; 
-moz-box-sizing: border-box;
box-sizing: border-box;
}



//*** MEDIA QUERIES MOBILE ==================

@media screen 
and (min-width : 320px) 
and (max-width : 480px) {
	@import "mobile320";
}
@media screen 
and (min-width : 481px) 
and (max-width : 640px) {
	@import "mobile640";
}
//
//
//*** MEDIA QUERIES TABLET ==================

@media screen
and (min-width:641px) {
	@import "tablet";
}

